.product_card{
    min-width: 192px;
    padding: 0px 6px;
    position: relative;
}
.product_card strong{
    color: #0F1111;
    font-weight: 500;
    font-size: 14px;
}
.product_card h5{
    color: #333636;
    margin: 10px 0px;
    
}
.Price p{
    font-size: 20px;
    font-weight: 400;
}
.Price{
    display: flex;
    align-items: flex-end;
}
.Price small{
    text-decoration: line-through;
    margin-left: 8px;
}
.Product_Img_box{
    height: 199px;
    width: 100%;
    position: relative;
    margin: 10px 0px;

}
.Product_img{
    max-width: 100%;
    max-height: 100%;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.star{
    margin: 10px 0px;
    color: #ffc558;
}
.btn{
    padding: 6px 14px;
    background-color: #fcbf4f;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin:9px 33px;
    color: #111;
    position: absolute;
    bottom: -40px;
    
}
.btn:hover{
    background-color: #ffb52b;
    cursor: pointer;
}


/* cartProduct Css */
.cart_product_card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    height: 180px;
    position: relative;
}
.cart_product_card input{
    width: 15px;
    height: 15px;
}
.cart_product_img{
    width: 14vw;
    height: 165px;
    position: relative;
}
.cart_product_img img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cart_product_info li:first-child{
    font-size: 18px;
    color: #007185;
    cursor: pointer;
}
.cart_product_info li:first-child:hover{
    color: rgb(235, 51, 51);
}

.cart_product_info{
    width: 30vw;
}
.cart_product_info ul{
    padding: 0px;
    list-style: none;
    font-size: 13px;
}
.cart_product_info ul li{
    padding:3px 0px;
    
}
.cart_price{
    align-self: flex-start;
    width: 20%;
    text-align: end;
    padding: 8px 0px;
}
.quantity{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.267);
    padding: 8px;
    border-radius: 7px;
    width: 80px;
    outline: none;

}
.Product_Quantity{
    display: flex;
    align-items: center;
}
.Product_Quantity ul li{
    display: inline-block;
    padding: 0px 8px;
    border-left: 1px solid #007185;
    font-size: 12px !important;
    color: #007185;  
}
.Product_Quantity ul li:hover{
    text-decoration: underline;
    color:rgb(243, 75, 75) ;
    cursor: pointer;
}