.Home {
  background-color: #eaeded;
  position: relative;
}
.Home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: 1500px;
}
.Home_banner {
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgb(0, 0, 0, 0));
}
.category_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 96vw;
  position: relative;
  bottom: 340px;
  margin: 10px 0px;
}
.category_card {
  z-index: 1;
  background-color: #fff;
  margin: 11px 0px;
  padding: 25px 15px;
  font-size: 14px;
  width: 330px;
  height: 350px;
  position: relative;
}
.category_card h2 {
  font-size: 20px;
}
.category_card img {
  width: 100%;
  padding: 10px 0px;
}
.category_card a {
  position: absolute;
  bottom: 0;
  color: #007185;
  font-size: 13px;
  text-decoration: none;
  padding: 20px 0px;
}
.category_card a:hover {
  color: rgba(255, 0, 0, 0.973);
}
.category_card_4_img {
  display: flex;
  justify-content: space-between;
}
.img_box {
  display: flex;
  flex-direction: column;
  margin: 4px;
}
.img_box img {
  width: 100%;
}

/* products row css */
.Products_row {
  z-index: 1;
  background-color: #fff;
  margin: 0px auto;
  padding: 25px 15px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.Products_box {
  display: flex;
  margin: 30px 10px;
  position: relative;
  transition: all 0.7s ease;
}
.arrow {
  height: 110px;
  width: 50px;
  background-color: #fff;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.39);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Larr,
.Rarr {
  font-size: 35px !important;
}
.leftArr {
  left: 0;
  top: 50%;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
}
.rightArr {
  top: 50%;
  right: 0;
  border-radius: 10px 0px 0px 10px;
  border-right: none;
}
